.admin {
  display: flex;
}

.admin > nav {
  padding-right: 3rem;
}

.admin > main {
  flex: 1;
  border-left: solid 1px #ccc;
  padding-left: 2rem;
}

em {
  color: red;
}

.delete:hover {
  background-color: aqua;
  color: green;
}

.no-decorations {
    text-decoration: none;
    color: black;
}
