.layout {
  overflow-x: hidden;
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 12fr 3fr;
  /* grid-template-columns: 100%; */
  grid-template-areas:
    'header'
    'messages'
    'footer';

  /* @include media-breakpoint-up(md) {
        grid-template-columns: [col-start] 50% [col-end] 50%;
        grid-template-rows: auto;
        grid-template-areas:
            't t'
            'a a'
            'b c'
            'd e'
            'd f'
            'd g'
            'd h';
    } */
}

.header {
  background-color: aqua;
  grid-area: header;
  height: max-content;
}

.messages-content {
  background-color: cadetblue;
  /* grid-area: messages; */
  height: 65vh;
}

.header-container {
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; */
  padding: 10px;
}

.message-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.message-content {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.enable-delete {
  border: 1px solid black;
  cursor: pointer;
  width: max-content;
  height: max-content;
  float: right;
  margin-left: 10px;
  padding: 0;
}

.disable-delete {
  pointer-events: none;
  border: 1px solid gray;
  width: max-content;
  height: max-content;
  float: right;
  opacity: 0.5;
  padding: 0;
}

.enable-delete:hover {
  color: black;
  background-color: lightslategray;
}

.activechannel-messages-container {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  border: 1px solid greenyellow;
  padding: 10px;
  margin: 50px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.5);
  height: max-content;
  min-height: max-content;
  max-height: 500px;
}

.header-title-left {
  margin-bottom: 0px;
  line-height: unset;
  padding-left: 10px;
}

.header-title-middle {
  margin-bottom: 0px;
  line-height: unset;
}

.activechannel-title {
  padding-top: 20px;
}
.no-activechannel-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-message {
  width: 100%;
  height: 100px;
  border: 1px solid greenyellow;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.5);
}

.updates {
  width: 60%;
  height: 100px;
  border: 1px solid greenyellow;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.5);
}

textarea {
  resize: none;
}

.stats {
  width: 100%;
  height: 100px;
  border: 1px solid greenyellow;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.5);
}

.chan-error {
  color: red;
}

.navbar-link {
  color: black;
  text-decoration: none;
}

.navbar-link:hover {
  background-color: aqua;
}

.footer {
  background-color: #007bff;
}

.footerButton {
  height: 50px;
}

.sendMessage {
  width: 100%;
  height: 100px;
  border: 1px solid greenyellow;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.5);
}
